@charset 'utf-8';

/*YUI2 Reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

/*common*/
body{font-family:Roboto,arial,'san serif';}
a{color:#1f92cc;text-decoration:none;}
a:hover{text-decoration:underline;}
.clearfix{zoom:1;}
.clearfix:after{content:'';display:block;visibility:hidden;height:0;clear:both;}

/*header*/
.header{height:60px;background-color:#f9f9f9;box-shadow:0 2px 2px #777;z-index:999;position:relative;}
.hd-btn{display:block;width:100px;height:60px;line-height:60px;text-align:center;color:#000;border-right:1px solid #e3e3e3;float:left;}
.hd-btn:hover{text-decoration:none;}
.back-btn{font:50px Arial;}

.setFont{display:block;width:50px;height:60px;float:right;line-height:60px;}
.font-minus{background:url(../img/font-minus.png) no-repeat 50% 50%;}
.font-plus{background:url(../img/font-plus.png) no-repeat 50% 50%;}
.font-minus-d{background:url(../img/font-minus-d.png) no-repeat 50% 50%;}
.font-plus-d{background:url(../img/font-plus-d.png) no-repeat 50% 50%;}

.share-btn{border-right:none;border-left:1px solid #e3e3e3;float:right;text-indent:-9999px;overflow:hidden;background:url(../img/share-ico.png) no-repeat 50% 50%;}
.thumb-area img{width:100%;}
.fullBtn{height:2.5em;line-height:2.5em;font-size:18px;text-align:center;display:block;border:1px solid #ccc;border-radius:2px;margin:20px 30px;background-color:#eee;color:#666;}
.footer{font-size:12px;color:#999;line-height:1.8;padding:10px 30px 20px;}

/*news*/
.content{padding:0 18px;position:relative;z-index:99;}
.news-hd{padding-top:10px;border-bottom:1px solid #ededed;padding-bottom:20px;}
.news-hd h1{font-size:21px;line-height:1.2;color:#373737;padding:20px 0;position:relative;}
.news-hd .tit-ico{display:block;width:9px;height:35px;background-color:#008DF2;position:absolute;left:-18px;top:18px;}
.news-hd .sub-info{color:#808080;font-size:14px;line-height:1.4;}
.news-bd{border-bottom:1px solid #ededed;padding-top:15px;padding-bottom:15px;word-wrap:break-word;}
.news-bd,.news-bd p,.news-bd span,.news-bd div{color:#717171;line-height:1.45;margin-bottom:20px;}
.news-bd img{display:block;margin:0 auto;max-width:100%;height:auto;}
.news-bd .full-pic{max-width:100%;height:auto;}

/*news3*/
.news3 .news-hd{background-color:#5d7bd5;background:url(../img/bg.png) center no-repeat;background-size:cover;padding:10px 30px 20px;}
.news3 .news-hd h1{color:#fff;}
.news3 .news-hd .sub-info{color:#afc5fe;}
