<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>U.S. Facing Test on Data to Back Action on Syria</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/base.css" />
        <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-40319185-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="header clearfix">
			<a class="hd-btn back-btn" href="##">&lt;</a>
			<a class="hd-btn share-btn" href="##">Share</a>
		</div>
		<div class="main">
			<div class="content">
				<div class="news-hd">
					<h1>U.S. Facing Test on Data to Back Action on Syria<i class="tit-ico"></i></h1>
					<p class="sub-info">By MARK MAZZETTI and MARK LANDLER Published: August 28, 2013</p>
				</div>
				<div class="news-bd">
					<img class="full-pic" src="static/img/29intel-articleLarge.jpg" alt="" />
					<p>WASHINGTON — The evidence of a massacre is undeniable: the bodies of the dead lined up on hospital floors, those of the living convulsing and writhing in pain and a declaration from a respected international aid group that thousands of Syrians were gassed with chemical weapons last week.</p>
					<p>And yet the White House faces steep hurdles as it prepares to make the most important public intelligence presentation since February 2003, when Secretary of State Colin L. Powell made a dramatic and detailed case for war to the United Nations Security Council using intelligence — later discredited — about Iraq’s weapons programs.</p>
					<p>More than a decade later, the Obama administration says the information it will make public, most likely on Thursday, will show proof of a large-scale chemical attack perpetrated by Syrian forces, bolstering its case for a retaliatory military strike on <a href="http://topics.nytimes.com/top/news/international/countriesandterritories/syria/index.html?inline=nyt-geo">Syria</a>.</p>
				</div>
			</div>
			<a class="fullBtn" href="javascript:void(0)" onclick="window.hao123app_webkit_js.btnClicked()">%s</a>
		</div>
		<div class="footer">
			<div class="wrap">
				<p class="copyright">Copyright &copy;
	            <script>
	                /* <![CDATA[ */ 
	                document.write(new Date().getFullYear());
	                /* ]]> */
	            </script>
	            Baidu HK</p>
	            <p>All Rights Reserved</p>
            </div>
		</div>
	</body>
</html>