<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>%s</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static2/css/base.css" />
        <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-40319185-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body class="news3">
		<!--<div class="header clearfix">
			<a class="hd-btn back-btn" href="##">&lt;</a>
			<a class="hd-btn share-btn" href="##">Share</a>
        </div>-->
		<div class="main">
			<div class="news-hd">
				<h1>%s</h1>
				<p class="sub-info">%s</p>
			</div>
			<div class="content">
				<div class="news-bd">
                    %s
				</div>
			</div>
			<a class="fullBtn" href="javascript:void(0)" onclick="window.hao123app_webkit_js.btnClicked()">%s</a>
		</div>
		<!--<div class="footer">
			<div class="wrap">
				<p class="copyright">Copyright &copy;
	            <script>
	                /* <![CDATA[ */ 
	                document.write(new Date().getFullYear());
	                /* ]]> */
	            </script>
	            Baidu HK</p>
	            <p>All Rights Reserved</p>
            </div>
        </div>-->
	</body>
</html>
